<%= render :partial => 'form' %>
<%= render 'latest' %>
<% @discussions.each do |discussion| %>
  <div class="discussion">
    <%= discussion.updated_at %>

    <% if (discussion.posts.length - 1) > AppConfig.last_reply_count then %>
      <%= render discussion.posts.first %>
      <%= link_to 'Read omitted replies', discussion %>
      <%= render discussion.posts.last(AppConfig.last_reply_count) %>
    <% else %>
      <%= render discussion.posts %>
    <% end %>

    <%= link_to 'Reply/Show', discussion %>
    <%= link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
<%= paginate @discussions %>
