<h1>Listing discussions</h1>
<%= render :partial => 'posts/form' %>
<% @discussions.each do |discussion| %>
  <div class="discussion">
    <%= discussion.updated_at %>

    <%= render discussion.posts.first %>
    <% if (discussion.posts.length - 1) > AppConfig.last_reply_count then %>
      <%= link_to 'View omitted', discussion %>
    <% end %>
    
    <%= render discussion.posts.last(AppConfig.last_reply_count) %>

    <%= link_to 'Reply/Show', discussion %>
    <%= link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
<%= paginate @discussions %>
