<h1>Listing discussions</h1>
<%= render 'form' %>
<% @discussions.each do |discussion| %>
  <div class="discussion">
    <%= discussion.updated_at %>
    <%= render discussion.posts %>
    <%= link_to 'Show', discussion %>
    <%= link_to 'Edit', edit_discussion_path(discussion) %>
    <%= link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>

<br />

<%= link_to 'New Discussion', new_discussion_path %>
