<h1>Listing discussions</h1>
<%= render 'form' %>
<% @discussions.each do |discussion| %>
  <div class="discussion">
    <%= discussion.updated_at %>
    <%= render discussion.posts %>
    <%= link_to 'Reply/Show', discussion %>
    <%= link_to 'Destroy', discussion, :confirm => 'Are you sure?', :method => :delete %>
  </div>
<% end %>
