<%= form_for(@post, :html=> { :multipart => true }) do |p| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= p.label :title %>
    <%= p.text_field :title %>
  </div>
  <div class="field">
    <%= p.label :content %><br />
    <%= p.text_area :content, :rows => 3 %>
  </div>
  <div class="field">
    <%= p.label :author %>
    <%= p.text_field :author %>
  </div>
  <div class="field">
    <%= p.label :image %>
    <%= p.file_field :image %>
  </div>
  <%= render 'layouts/trap' %>
  <div class="actions">
    <%= p.submit %>
  </div>
<% end %>
