<div class="post">

  <% if post.image? %>
    <%= image_tag post.image.url(:medium) %>
  <% end %>

  <p>
    <b>Title:</b>
    <%= post.title %>
  </p>

  <p>
    <b>Content:</b>
    <%= post.content %>
  </p>

  <p>
    <b>Author:</b>
    <%= post.author %>
  </p>


  <%= link_to 'Edit', edit_post_path(post) %>
</div>
