<div class="post">

  <% if post.image? %>
    <%= image_tag post.image.url(:medium) %>
  <% end %>

  <%= content_tag(:div, "##{post.id} #{post.updated_at}", :id => "p#{post.id}", :class => "meta") %>

  <% unless post.title.nil? then %>
    <h2><%= post.title %></h2>
  <% end %>

  <% unless post.content.nil? then %>
    <p><%= markdown(post.content) %></p>
  <% end %>

  <% unless post.author.nil? then %>
    <p>
      <%= post.author %>
    </p>
  <% end %>

<!-- # since this is already in post so removed from view
  <% unless post.parents.empty? %>
  <p>
    <b>Parents</b>
    <% post.parents.each do |p| %>
      <%= link_to "##{p.id}", "#p#{p.id}" %>
    <% end %>
  </p>
  <% end %>
-->

  <% unless post.children.empty? %>
  <p class="reply_list">
  <%=raw post.children.map{|p| link_to("##{p.id}", "#p#{p.id}")}.join(', ') %> replied
  </p>
  <% end %>

</div>
