<!DOCTYPE html>
<html>
<head>
  <title>Imageboard</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <h1><%= link_to AppConfig.site_title, discussions_path %></h1>
  <p id="notice"><%= notice %></p>
  <%= yield %>
</body>
</html>
